
.left-container h1{
  margin-top: 20px;
  text-align: left;
}


.mcontainer{

  width: 100%;
  height: 2500px;
  background: #353536;
  text-align: right;
  
 




}


.cmt{
  width: 40%;
  height: auto;
  background-color: blue;
  text-align: center;
  border: 2px solid black;
  
  
  margin-top: -1600px;
  margin-bottom: 200px;

}
hr{
  width: 80%;
  margin-top: 10px;
  
  background-color: rgb(85, 236, 241);
}

.msg{
  font-size: 30px;
  margin-right: 220px;
 

}

.usercmt{
  width: 90%;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;


  }

  .usercmt h1{
    margin: 0px;
  }

  .usercmt h7{
    margin: 0;
    font-style: italic;
  }

  .text span{
    margin-top: 30px;
    margin-left: 30px;
  }

  .text{
    margin-top: 10px;
    margin-bottom: 10px;
  }


textarea{
  margin-top: 30px;
  padding: 60px;
  font-size: 20px;
  margin-right: 70px;
  border: 2px solid #000;
  margin-bottom: 10px;
}

.cmt button{
  padding: 10px;
  border-radius: 5px;
  background-color: lightslategray;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.cmt button:hover{
  background-color: darkslateblue;
}

.cmt input{
  padding: 20px;
  padding-right: 50px;
  margin-top: 30px;
  margin-right: 140px;
  border: 2px solid #000;
}



.left-container{
  width: 40%;
  height: 850px;
  margin-top: 30px;

  background: #A16DC7;
}

.mcontainer ul{
  padding: 0px;
  margin: 0px;
}

.mcontainer li {
  list-style: none;
  float: left;
  width: 40%;
  height: 270px;



  margin: 40px 15px 50px 25px;
}

h6{
  margin-top: -23px;
}

.mmovie-box{
  width:200px;
  height:340px;
  margin-top: -10px;
  margin-left: 10px;
  margin-bottom: 40px;
  text-align: center;

  background-color: grey;
}
.mmovie-box img{
  width:200px;
  height:220px;
  border: 2px grey solid;
}





.right-container{
  background-color: blue;
  

  width: 58%;
  height: 2500px;
  margin-left: 550px;
  margin-top: -850px;
  
  
 
  
 

}




.movie-info h1{
  text-decoration:underline;
 


}
.watch-btn button{
  padding: 10px;
  background: rgba(190, 127, 127, 0.61);
  margin-left: 10px;
  margin-right: 20px;
  border: 2px solid black;

}

.watch-btn{

  width: 100%;
  background-color: rgb(140, 140, 211);



}

 .movie-info{
  width: 100%;
  height: 180px;

  text-align: left;
  margin-right: 10px;
  margin-bottom: 40px;
  margin-top: -20px;

}

.right-container img{
  width: 100%;
  height: 400px;
  
 

  
}

.movie-info img{
  width: 90%;
  height: 380;
  margin-left: 40px;
}
