
.main-c{
   width: 100%;
   height: auto;
   overflow: hidden;
}


.left-container{
    width: 65%;
    float: left;
    height: auto;
    background: rgb(108, 215, 230);
    margin-bottom: 400px;

}

.s-img img{
    width: 95%;
    height: 420px;
    margin-left: 20px;
}

.series-info{
    width: 95%;
    height: 350px;
    background: rgb(238, 147, 208);
    margin-left: 20px;
    border: 2px solid grey;
}

 h1{
    margin: 0;
}

label{
    margin-top: 20px;
    padding: 10px;
    

}



.episode{
    width: 95%;
    height: 150px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    background: rgba(164, 202, 149, 0.719);
}

.r-container{
    width: 32%;
    height: auto;
    background: red;
    float: right;
    margin-bottom: 10px;
    
   
    
}

.next-season img{
    width: 98%;
    border: 2px solid lavender;
    height: 220px;
    margin-left: 2px;
    

}

.next-season{
    width: 90%;
    height: 250px;
    margin-left: 12px;
    margin-top: 30px;
    border: 2px solid whitesmoke;
    
}