body{
  background-color: #000;
}

header{
  color: #eee;
  font-size: 50px;
  border: 1px blue solid;
  height: 250px;



}

.title img{

}

 .ul{
  padding: 0px;
  margin: 0px;
}

.li {
  list-style: none;
  float: left;
  width: 20%;
  height: 300px;


  margin: 40px 15px 50px 35px;
}

.cat{
  margin-left: 270px;
  margin-top: -60px;

}

.head{

  margin-top: -100px;
  width: 100%;
  background: red;




}

.head span{
  font-size: 20px;
   margin-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 200px;

}

.search-btn{
  padding: 20px;
  color: red;
  margin-bottom: 30px;
}

.search-btn button{
  padding: 10px;
  border: 2px red solid;

}

.search-btn input{
  padding: 8px;
  border: 2px #eee solid;
}

.container{
  width: 97%;
  overflow: hidden;
  /* align-content: center; */
  
  margin: 20px auto;
  height: 600px auto;

  padding:20px;
  border: 4px rgb(95, 84, 84) solid;

}

.footer{
  padding: 30px;
  background-color: #eee;
}

.footer a{
  color: blue;
  background-color: bluel
  text-align: center;
  text-decoration: underline;

}

.movie-box{
  width:270px;
  height:340px;
  margin-top: 10px;
  margin-left: 10px;

  background-color: grey;
}
.movie-box img{
  width:265px;
  height:240px;
  border: 2px grey solid;
}


.next-page{
  width: 70%;
  background-color: rgb(83, 92, 92);


  height: 50px;
 margin-bottom: 10px;
  margin-left: 195px;




}

.next-page li{
  list-style: none;
  float: left;

}





.page-no {
  width: 30px;
  height: 30px;
  background-color: rgb(211, 209, 209);
  margin-left: 20px;
  position: relative;
  top: 10px;
   text-align: center;

}
