<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
 
    <link rel="stylesheet" href="{% static 'css\style.css'%}">
    <meta charset="UTF-8">
    <title>MyChillFlix</title>
 </head>

<body>
  <header>
    <div class="title">
     <img src="{% static 'css\title3.png'%}" alt="website title">
    </div>
     
        <ul class="topnav">
          <li><a class="active" href="#home">Home</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="right"><a href="#about">About</a></li>
        </ul>

         <div class="cat">
           <form action="categories">
             <select id="categories" name="categories">
                <option selected>All Categories</option>
                <option value="Action">Action</option>
                <option value="Sci-fiction">Sci-fiction</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
             </select>
            <input type="submit" value="GO">
          </form>
        </div>

 


  </header>

  <div class="search-btn">
    <form action="#">
        <input type="text" name="search" value="" placeholder="Search here">
       <button type="submit" name="button">Search</button>
     </form>
</div>
 

  <div class="container">
  
    
      <ul class="ul">
       {% for movie in movies %}
        <li class="li">
        	<a href="{% url 'movie_info' movie.id %}">
           <div class="movie-box">

            <img src="/media/{{movie.Poster}}">
            <span>{{movie.Name}}</span><br>
            <span>{{movie.Released_date}}</span><br>
            <span>{{movie.Languages}}</span><br>
          
          </div>
          </a>
        </li>
      {% endfor %}
      </ul>
   

   <br>

  </div>

    <div class="next-page">
 
         <ul>
            {% for i in count%}
              <li>
                {%ifequal i active %}
                <a href="/nextpage/{{i}}">
                   <div style="background-color: aqua;" class="page-no">{{i}}
                  </div>
                </a>
              </li>
              {% else %}
              <li>
                <a href="/nextpage/{{i}}"> 
                  <div class="page-no">
                    {{i}}
                  </div>
                </a>
              </li>
   
              {% endifequal %}
              {%endfor%}
       

          </ul>
     
     </div>




  
  <footer>
    <div class="footer">
      <span>Copyright &copy 2020</span><br>
      <a href="/about_us">About</a><br>
      <a href="/contact">Contact</a><br>
    </div>
  </footer>

</body>
</html>
