
{% extends 'index.html' %}
{% load static %}


    {%block style%}

  

<link rel="stylesheet" href="{% static 'css/series_season.css'%}">
  {% endblock%}

  {% block body %}

 <div class="main-c">

   <div class="left-container">

       <div class="s-img">

        <img src="\media\{{s_pics.s_poster}}" alt="">
       </div>

       <div class="series-info">

        
        <h1>{{series.series_name}}</h1>
        <label>Season: </label><span>{{season.season_no}}</span><br>
       <label>Total Episodes: </label> <span>{{season.total_episodes}}</span><br>
        <label>Audio: </label><span>{{series.languages}}</span><br>
        <label>Quality: </label><span>{{season.quality}}</span><br>
        <label>Creator: </label><span>{{seriesinfo.creator}}</span><br>
        <label>Director: </label><span>{{seriesinfo.director}}</span><br>
        <label>Actors: </label><span>{{seriesinfo.actors}}</span><br>

    
        <h2>StoryLine</h2>
        <span>{{seriesinfo.storyline}}</span>
        </div>
       
      

        {% for episodes in e %}
        <div class="episode">
            <label>Episode No: </label><span>{{episodes.e_no}}</span><br>
            <label>Episode Name:</label><span>{{episodes.episode_name}}</span><br>
                <label>Episode Name:</label><span>{{episodes.e_duration}}</span><br>
            <label>Download</label><span>
                {% for i in q %}
                <a href="{% url 'download_episode' i episodes.id  %}">{{i}}</a></span>
                {%endfor%}
                <br>

                <label>Watch</label><span>
                  {% for i in q %}
                  <a href="{% url 'play_series' i episodes.id  %}">{{i}}</a></span>
                  {%endfor%}
                  <br>
        </div>

        {%endfor %}
        

   </div>


   <div class="r-container">

     

      {% for i,j in next_seasons%}

   
     
     <a href="{% url 'season' series.id j %}">
        <div class="next-season">
 
         <img src="\media\{{i.s_poster}}" alt="season-img">
          <label>Season No </label>{{j}}
 
        </div>

      
 
     </a>
     

     {%endfor%}

      
   </div>

</div>
    
{% endblock %}